p{
    text-align: center;
    color: red;
}

#para1{
    text-align: right;
    color: green
}

.para2{
    text-align: left;
    color: blue;    
}

h1, h2, h3 {
    text-align: right;
    color: purple;
}

a{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: yellow;
}

a :hover{
    color: red;
    text-decoration: none;
}

a:active{
    color: green;
}

body{
    background-color: lightgrey;
    font-family: Arial, sans-serif;
    margin: 0;
    margin: 0;
}

header{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

nav{
    background-color: #be6bda;
    color: #f0e3e4;
    text-align: center;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav li{
    display: inline;
    margin: 0 10px;
}

main{
    padding: 20px;
}

footer{
    background-color: #31013f;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}